Print

In [1]:
print("Hello World")

Hello World

In [2]:
print("Hello CS")

Hello CS

같이 써도 둘다 나옴

In [7]:
print("Hello World")
print("Hello CS")

Hello World
Hello CS

In [3]:
# 주석
# 연산

In [4]:
# 반지름이 7.1인 구의 표면적
print("구의 면적은 : ", 4 * 3.14 * 7.1 **2)

구의 면적은 :  633.1496

그냥 써도 나오긴 함 <br />
근데 진짜로 나오는거 아님 <br />
노트북이라 나오는 거임

In [9]:
4 * 3.14 * 7.1 **2

633.1496

이렇게 같이 쓰면 print만 나옴

In [10]:
4 * 3.14 * 7.1 **2
print("Hello CS")

Hello CS

예제

In [11]:
# x^2 + 3x - 6 = 0 의 근은?
print("근은 : ", (-3 + (9 - 4 * 1 * -6) ** 0.5) / 2)

근은 :  1.3722813232690143

변수(저장)

In [11]:
#위에서 했던 숫자 저장
sphere_area = 4 * 3.14 * 7.1 ** 2
근 = (-3 + (9 - 4 * 1 * -6) ** 0.5) / 2

In [12]:
#string 저장
name = "서은혁"

In [13]:
temp = name

In [14]:
print(name)

서은혁

In [15]:
print(temp)

서은혁

In [34]:
temp2 = "두번째"

In [35]:
name + temp2

'은혁이두번째'

In [36]:
print(name+temp2)

은혁이두번째

In [39]:
name+근

TypeError: must be str, not float

In [40]:
print(name,근)

은혁이 1.3722813232690143

In [14]:
#변수이름 안되는것들
_jimport = 30
_list = "서은혁"
_print = "서은혁"

print 할때 이미 배정되어 있는 특수문자

In [1]:
print("오늘 밥 맛없어")

오늘 밥 맛없어

In [4]:
print("""오늘 밥 맛없어""")

오늘 밥 맛없어

In [5]:
print("\"오늘 밥 맛없어\"")

"오늘 밥 맛없어"

Type

In [19]:
type(name)

str

In [22]:
type(temp)

str

In [20]:
type(sphere_area)

float

In [21]:
type(근)

float

In [23]:
temp2 = 4

In [24]:
type(temp2)

int

String

In [41]:
name

'은혁이'

In [44]:
temp2

'두번째'

In [45]:
temp3 = name+temp2

In [49]:
print(temp3)

은혁이두번째

In [47]:
temp3[0]

'은'

In [50]:
temp3[2:5]

'이두번'

In [48]:
temp3[-1]

'째'

In [51]:
temp3[3:]

'두번째'

In [52]:
temp3[1:-1]

'혁이두번'

List

In [31]:
pet_list = ["강아지", "고양이", "거북이", "뱀"]

In [32]:
print(pet_list)

['강아지', '고양이', '거북이', '뱀']

In [33]:
type(pet_list)

list