Print

In [1]:
print("Hello World")

Hello World

In [2]:
print("Hello CS")

Hello CS

같이 써도 둘다 나옴

In [7]:
print("Hello World")
print("Hello CS")

Hello World
Hello CS

In [3]:
# 주석
# 연산

In [4]:
# 반지름이 7.1인 구의 표면적
print("구의 면적은 : ", 4 * 3.14 * 7.1 **2)

구의 면적은 :  633.1496

그냥 써도 나오긴 함 <br />
근데 진짜로 나오는거 아님 <br />
노트북이라 나오는 거임

In [9]:
4 * 3.14 * 7.1 **2

633.1496

이렇게 같이 쓰면 print만 나옴

In [10]:
4 * 3.14 * 7.1 **2
print("Hello CS")

Hello CS

예제

In [11]:
# x^2 + 3x - 6 = 0 의 근은?
print("근은 : ", (-3 + (9 - 4 * 1 * -6) ** 0.5) / 2)

근은 :  1.3722813232690143

변수(저장)

In [11]:
#위에서 했던 숫자 저장
sphere_area = 4 * 3.14 * 7.1 ** 2
근 = (-3 + (9 - 4 * 1 * -6) ** 0.5) / 2

In [9]:
#string 저장
name = "서은혁"

In [10]:
temp = name

In [14]:
print(name)

서은혁

In [15]:
print(temp)

서은혁

In [11]:
temp2 = "두번째"

In [35]:
name + temp2

'은혁이두번째'

In [36]:
print(name+temp2)

은혁이두번째

In [39]:
name+근

TypeError: must be str, not float

In [40]:
print(name,근)

은혁이 1.3722813232690143

In [14]:
#변수이름 안되는것들
_jimport = 30
_list = "서은혁"
_print = "서은혁"

print 할때 이미 배정되어 있는 특수문자

In [1]:
print("오늘 밥 맛없어")

오늘 밥 맛없어

In [4]:
print("""오늘 밥 맛없어""")

오늘 밥 맛없어

In [5]:
print("\"오늘 밥 맛없어\"")

"오늘 밥 맛없어"

Type

In [19]:
type(name)

str

In [22]:
type(temp)

str

In [20]:
type(sphere_area)

float

In [21]:
type(근)

float

In [23]:
temp2 = 4

In [24]:
type(temp2)

int

String

In [12]:
name

'서은혁'

In [13]:
temp2

'두번째'

In [14]:
temp3 = name+temp2

In [15]:
print(temp3)

서은혁두번째

In [16]:
temp3[0]

'서'

In [17]:
temp3[2:5]

'혁두번'

In [18]:
temp3[-1]

'째'

In [19]:
temp3[3:]

'두번째'

In [20]:
temp3[1:-1]

'은혁두번'

In [21]:
len(temp)

3

In [22]:
len(temp3)

6

In [24]:
len(temp3[1:-1])

4

List

In [2]:
pet_list = ["강아지", "고양이", "거북이", "뱀"]

In [3]:
print(pet_list)

['강아지', '고양이', '거북이', '뱀']

In [4]:
type(pet_list)

list

In [5]:
pet_list[0]

'강아지'

In [49]:
pet_list[1] = "코끼리"

In [50]:
pet_list

['강아지', '코끼리', '거북이', '뱀']

In [7]:
len(pet_list)

4

In [33]:
list1 = [0, 0.4, [0, 1, 2]]

In [34]:
print(list1[2][2])

2

In [35]:
list1.append(-1)

In [36]:
list1

[0, 0.4, [0, 1, 2], -1]

In [37]:
list1.append([1,2,3])

In [38]:
list1

[0, 0.4, [0, 1, 2], -1, [1, 2, 3]]

In [39]:
list1.extend([1,2,3])

In [40]:
list1

[0, 0.4, [0, 1, 2], -1, [1, 2, 3], 1, 2, 3]

In [41]:
list2 = [31, 2 , 10, 18]

In [42]:
list2.sort()

In [43]:
list2

[2, 10, 18, 31]

In [64]:
sum(list2)

43

In [45]:
list2[2]

18

In [46]:
del list2[2]

tuple<br />
별로 안씀

In [51]:
tuple1 = (1, 2, 3)

In [52]:
print(tuple1)

(1, 2, 3)

In [53]:
tuple1[1]

2

In [55]:
tuple1[1] = 100

TypeError: 'tuple' object does not support item assignment

In [56]:
tuple1.append(3)

AttributeError: 'tuple' object has no attribute 'append'

array

In [2]:
import numpy

In [3]:
array1 = numpy.array([1,2,3])

=====================================================

import (module, library, package)

In [5]:
import numpy as np

In [6]:
array2 = np.array([1,2,3,4])

In [7]:
from numpy import array

In [8]:
array3 = array([2,3,4])

In [9]:
import math

In [16]:
math.pi

3.141592653589793

In [15]:
math.sin(math.pi*0.5)

1.0

In [19]:
np.exp(3)

20.085536923187668

In [23]:
np.log(np.exp(2))

2.0

In [25]:
np.random.randn()

0.22632065439862487

In [59]:
from datetime import datetime

In [60]:
datetime.now()

datetime.datetime(2020, 11, 1, 11, 41, 19, 956636)

In [61]:
today = datetime.now()

In [62]:
today.year

2020

In [63]:
today.month

11

In [64]:
today.day

1

In [73]:
datetime(2020, 11, 3)

datetime.datetime(2020, 11, 3, 0, 0)

In [67]:
from datetime import timedelta

In [74]:
today-timedelta(days=1)

datetime.datetime(2020, 10, 31, 11, 41, 57, 21105)

=====================================================

In [71]:
np.append(array1, 4)

array([1, 2, 3, 4])

In [46]:
list2+3

TypeError: can only concatenate list (not "int") to list

In [47]:
array1+3

array([4, 5, 6])

Dictionary

In [54]:
dict1 = {'apple': 300, 'grape': 200, 'tomato':[2,3,1], 1 : 4, (2,5,12):"튜플도 됨"}

In [55]:
dict1.keys()

dict_keys(['apple', 'grape', 'tomato', 1, (2, 5, 12)])

In [56]:
dict1.values()

dict_values([300, 200, [2, 3, 1], 4, '튜플도 됨'])

In [57]:
del dict1['apple']

In [58]:
dict1

{'grape': 200, 'tomato': [2, 3, 1], 1: 4, (2, 5, 12): '튜플도 됨'}